<div class="person-course-add-files">
    <div>
        <table class="table person-course-file" ng-show="uploader.queue.length>0">
            <thead>
            <tr>
                <th class="col-md-3">Название</th>
                <th class="col-md-2 text-center" ng-show="uploader.isHTML5">Размер</th>
                <th class="col-md-1 text-center"ng-show="uploader.isHTML5">Загрузка</th>
                <th class="col-md-3 text-center">Дополнительно</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap class="text-center">{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td nowrap class="text-right">
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Загрузить
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Удалить
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <span class="glyphicon glyphicon-plus btn-file">
                        <input type="file" nv-file-select="" uploader="uploader" multiple/><br/>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-show="uploader.queue.length==0">
            <span class="btn btn-default btn-file">Выбрать файлы
                <input type="file" nv-file-select="" uploader="uploader" multiple/><br/>
            </span>
        </div>

        <div ng-show="uploader.queue.length>0">
            <hr>
            <div>
                Общая загрузка:
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <div class="center-block">
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить все
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Удалить все
                </button>
            </div>
        </div>
    </div>

</div>