<div class="person-course-add-files">
    <div>
        <table class="table person-course-file">
            <thead>
            <tr>
                <th class="col-md-3">Название</th>
                <th class="col-md-3">Ссылка</th>
                <th class="col-md-3 text-center">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lectLink in lectureLinks">
                <td><strong>{{ lectLink.title }}</strong></td>
                <td><a href="{{ lectLink.link }}">link</a></td>
                <td nowrap class="text-right">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeLink(lectLink)">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="newLink.title">
                </td>
                <td>
                    <input type="text" ng-model="newLink.link">
                </td>
                <td nowrap class="text-right">
                    <button type="button" class="btn btn-success btn-xs" ng-click="addLink()">
                        <span class="glyphicon glyphicon-plus"></span> Добавить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>