<div>
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Добавление новости к курсу :</h3>

            <form name="newsForm" novalidate role="form">
                <div class="form-group">
                    <label for="title">Заголовок: <span class="required">*</span></label>
                    <input id="title" type="text" name="title" ng-model="news.title" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="content">Краткое описание:<span class="required">*</span></label>
                    <textarea class="form-control" id="content" ng-model="news.content"
                              placeholder="Введите описание..." rows="4" redactor> </textarea>

                </div>

                <button type="button" class="btn btn-success  trench_out full_screen"
                        ng-click="createNews()"> Добавить новость к курсу
                </button>
            </form>
        </div>
    </div>
</div>