<ul id="person-menu">
    <li class="active" ui-sref-active="active"><a ui-sref="person.course.content">
        <img class="person-menu-icon " ng-src="angular/img/materials.png"/>
        Material</a></li>
    <li ui-sref-active="active"><a ui-sref="person.course.progress">
        <img class="person-menu-icon " ng-src="angular/img/rating.png"/>
        Progress</a></li>
    <li ui-sref-active="active"><a ui-sref="person.course.news">
        <img class="person-menu-icon " ng-src="angular/img/news.png"/>
        News</a></li>
    <li><a href="#">
        <img class="person-menu-icon " ng-src="angular/img/calendar.png"/>
        Calendar</a></li>
</ul>