<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Здравствуйте,  ${username}, вы зарегистрированы в GitLab!
<br>
Для входа в систему был автоматически сгенерирован пароль - ${password}.
Вы можете изменить его в настройках своего профиля после подтверждения регистрации в сервисе
(инструкции - в отдельном письме).
</body>
</html>