<div>
    <div class="modal-header">
        <h3 class="modal-title">Контактные данные</h3>
    </div>
    <div class="modal-body">
        <form name="phoneForm" class="text-center">
            <label for="phoneNumber">Ваш номер телефона:</label>
            <input id="phoneNumber" type="text" class="text-center"
                   ng-pattern="/[\(\s]{0,}[0-9]{3}[\)\s]{0,}[0-9]{3}[-\s]{0,}[0-9]{2}[-\s]{0,}[0-9]{2}/"
                   name="phoneNumber" placeholder=""
                   title="Формат ввода (XXX) XXX-XX-XX" required
                   ng-model="person.phone"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()" ng-disabled="!phoneForm.phoneNumber.$valid">OK</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>