<ul class="info-list">
    <li ng-repeat="course in courses">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{course.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="description">{{course.description}}</div>
                <div ng-if="isLogin()" class="course-action">
                    <div ng-if="course.isPersonEnrolled === undefined">
                        <img class="img-wait" ng-src="angular/img/wait.gif"/>
                    </div>
                    <div ng-if="course.isPersonEnrolled !== undefined">
                        <a ui-sref="person.course({courseId:course.id, courseName:course.name})"
                           ng-if="course.isPersonEnrolled" class="go-into-course">
                            Перейти к курсу
                        </a>
                        <a href="" ng-if="!course.isPersonEnrolled" class="enroll-into-course">Подписаться</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <div class="course-action">
        <button ng-if="isLogin() && isTeacher()" class="btn btn-default" ui-sref="person.addCourse">Добавить новый
            курс
        </button>
    </div>
</ul>