
body{
    margin: 0;
    padding: 10px;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
.sign-in{
    float:right;
    display: inline-block;
    font-size:16px;
    margin:10px 0;
}
.info-list{
    font-size: 20px;
    list-style: none;
}
.info-list .description{
    margin-left:25px;
    font-size: 16px;
}
.content{
    margin:50px;
}
.avatar{
    width: 35px;
    height: 35px;
}
#userinfo-wrapper{
    float: none;
    vertical-align: middle;
    display: inline-block;
    font-size:15px;
}

.trench{
    padding: 10px;
    margin: 5px;
}
.trench_out{
    margin: 5px;

}

.third_screen{
    width: 30%;
}
.half_screen{
    width: 50%;
}
.full_screen{
    width: 100%;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
#git-id{
    padding-top:45px;
}
.btn-custom {
    background-color: hsl(188, 83%, 75%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafefe", endColorstr="#8ae6f4");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fafefe), to(#8ae6f4));
    background-image: -moz-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: -ms-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafefe), color-stop(100%, #8ae6f4));
    background-image: -webkit-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: -o-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: linear-gradient(#fafefe, #8ae6f4);
    border-color: #8ae6f4 #8ae6f4 hsl(188, 83%, 69%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
    -webkit-font-smoothing: antialiased;
}