
body {
    margin: 0;
    padding: 10px;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.sign-in {
    float: right;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}

.info-list {
    font-size: 20px;
    list-style: none;
}

.info-list .description {
    margin-left: 25px;
    font-size: 16px;
}

.info-list .course-action {
    font-size: 16px;
    text-align: right;
}

.info-list .enroll-into-course {
    color: #990000;
}

.info-list .go-into-course {
    color: #374e0c;
}

.required {
    color: red;
}

.dismiss-messages {
    cursor: pointer;
}

.person-login {
    cursor: pointer;
}

.person-course-file {
    table-layout: fixed;
}

.person-course-file tbody tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-wait {
    width: 32px;
    height: 32px;
}

.img-wait-file {
    width: 24px;
    height: 24px;
}

.person-menubar {
    border-right: solid lavender 2px;
}

.person-course-content {
    padding-left: 20px;
}

.person-main-top {
    border-bottom: solid lavender 2px;
}

ul#person-menu {
    list-style-type: none;
}

ul#person-menu > li {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul#person-menu > li.active > a,
ul#person-menu > li.active > a:hover,
ul#person-menu > li.active > a:focus {
    color: darkblue;
    font-weight: bolder;
}

.person-course-add-files {
    outline: solid lavender 1px;
    padding: 5px;
}

.person-course-add-files-xs-btn {
    width: 40%;
}

.person-add-files-input {
    margin: 3px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.person-menu-icon {
    width: 16px;
    height: 16px;
}

.content {
    margin: 50px;
}

.avatar {
    width: 35px;
    height: 35px;
}

#userinfo-wrapper {
    float: none;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
}

.trench {
    padding: 10px;
    margin: 5px;
}

.trench_out {
    margin: 5px;

}

.third_screen {
    width: 30%;
}

.half_screen {
    width: 50%;
}

.full_screen {
    width: 100%;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

#git-id {
    padding-top: 45px;
}

.btn-custom {
    background-color: hsl(188, 83%, 75%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafefe", endColorstr="#8ae6f4");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fafefe), to(#8ae6f4));
    background-image: -moz-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: -ms-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafefe), color-stop(100%, #8ae6f4));
    background-image: -webkit-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: -o-linear-gradient(top, #fafefe, #8ae6f4);
    background-image: linear-gradient(#fafefe, #8ae6f4);
    border-color: #8ae6f4 #8ae6f4 hsl(188, 83%, 69%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
    -webkit-font-smoothing: antialiased;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}